.help {
  display: flex;
  flex-flow: column;
  margin: 0.2rem;
}

.header {
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.moving {
  font-size: 0.75rem;
}

.square {
  font-weight: 700;
}

.github {
  margin-top: 1rem;
}
