.settings {
  display: flex;
  flex-flow: column wrap;
  font-size: 0.9rem;
  margin: 0.2rem;
}

.header {
  font-size: 0.9em;
  font-weight: 700;
  margin-top: 0.2em;
}

.mates {
  font-size: 1em;
  font-weight: 700;
  flex-basis: 100%;
}

.submit {
  composes: button from './Button.module.css';
  background-color: var(--button-filter);
}

.submit:hover {
  background-color: var(--button-filter-hover);
}
