.main {
  display: flex;
}

.label {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.85em;
  padding: 0.2em;
}

.input:focus {
  background-color: #f0f0f015;
}

.input[type='checkbox'] {
  width: 2.5em;
  height: 2.5em;
  margin-right: 15%;
  cursor: pointer;
}

.input[type='number'] {
  -moz-appearance: textfield;
  width: 3em;
  height: 1.2em;
  text-align: center;
  font-size: 0.9em;
  font-weight: 700;
  background: transparent;
  color: var(--nav-primary);
  border: none;
  border-bottom: 1px solid var(--nav-secondary);
  margin-bottom: 0.8em;
}

.input[type='number']::-webkit-inner-spin-button,
.input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
